body{
    background-color: #000000;
}

ul li a:hover{
    /*border-bottom: #ff7200 solid 2px;*/
    text-decoration: none;
    border-bottom: 1px solid #ff7200;
    padding-bottom: 4px;
    transition: border-bottom 0.2s, color 0.2s;
}